# Виртуальное окружение.
venv/

# Папки кэша python.
**/__pycache__/
*.py[cod]

# Файлы конфигурации.
.env

# Логи.
*.log
*.out

# Прочие временные файлы.
*.xlsx
*.json
*.gz
*.csv
*.tmp
*.temp
*.bak
*.pdf