#rhu {
    position: relative;
    border: 2px solid var(--light-add-color);
    border-radius: 8px;
    transition: border-color var(--transition-value);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

body.dark #rhu {
    border-color: var(--dark-add-color);
}

.left-part, .right-part {
    flex: 1;
    min-width: 0;
    background-color: var(--light-add-background-color);
    border: 1px solid var(--dark-add-color);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 
        background-color var(--transition-value),
        border-color var(--transition-value);
    box-sizing: border-box;
}

body.dark .left-part, body.dark .right-part {
    background-color: var(--dark-add-background-color);
    border-color: var(--light-add-color);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.left-part {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.field-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.field-container .field-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 48%; /* Делит пространство поровну между инпутами */
}

.field-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field-group label {
    font-size: 14px;
    font-weight: 400;
}

.field-group input {
    padding: 8px;
    border: 1px solid var(--dark-add-color);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: var(--light-color);
    background-color: var(--light-background-color);
    transition: 
        background-color var(--transition-value),
        color var(--transition-value);
}

body.dark .field-group input {
    color: var(--dark-color);
    background-color: var(--dark-background-color);
}

.status {
    margin-block: 5px;
    font-size: 14px;
    font-weight: 400;
}

#pole-number {
    width: 100%;
}

/* Соединение посередине */
#rhu::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: var(--light-add-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-value);
}

body.dark #rhu::before {
    background-color: var(--dark-add-color);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.submit-section button {
    background-color: var(--light-add-color);
    color: var(--light-add-background-color);
    border: 1px solid var(--light-add-background-color);
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: 500;
    border-radius: 6px; 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 
        border-color var(--transition-value),
        background-color var(--transition-value),
        color var(--transition-value),
        box-shadow var(--transition-value);
}

body.dark .submit-section button {
    border-color: var(--dark-add-background-color);
    background-color: var(--dark-add-color);
    color: var(--dark-add-background-color);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.submit-section button:not(:disabled):hover {
    background-color: var(--light-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

body.dark .submit-section button:not(:disabled):hover {
    background-color: var(--dark-color);
    box-shadow: 0 6px 8px rgba(255, 255, 255, 0.2);
}

.submit-section button:disabled {
    background-color: var(--light-add-background-color);
    color: #bbb;
    border: 1px solid #bbb;
    box-shadow: none;
}

body.dark .submit-section button:disabled {
    background-color: var(--dark-add-background-color);
    color: #333;
    border-color:#333; 
}

input.error {
    border-color: var(--light-red-color);
    background-color: #ffe6e6; /* Светлый оттенок красного */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

input.error:focus {
    outline-color: var(--light-red-color);
}

body.dark input.error {
    border-color: var(--dark-red-color);
    background-color: rgba(255, 0, 0, 0.1); 
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
}

body.dark input.error:focus {
    outline-color: var(--dark-red-color); 
}

.data-error {
    color: var(--light-red-color);
    transition: color var(--transition-value);
}

body.dark .dara-error {
    color: var(--dark-red-color);
}

.status-good {
    color: var(--light-blue-color);
    font-weight: 500;
    transition: color var(--transition-value);  
}

body.dark .status-good {
    color: var(--dark-green-color);
}

.status-bad {
    color: var(--light-red-color);
    font-weight: 500;
    transition: color var(--transition-value);  
}

body.dark .status-bad {
    color: var(--dark-red-color);
}

@media (max-width: 768px) {
    #rhu {
        flex-direction: column;
        align-items: center;
    }

    .left-part, .right-part {
        width: 100%;
        margin: 0;
    }

    #rhu::before {
        display: none;
    }

    .field-container {
        flex-direction: column;
    }

    .field-container .field-group {
        width: 100%; 
    }
}
