/* Стили для таблицы ближайших опор. */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--light-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 
        background-color var(--transition-value),
        border-color var(--transition-value),
        box-shadow var(--transition-value);
}

body.dark table {
    background-color: var(--dark-background-color);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

table caption {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
    background-color: var(--light-add-background-color);
    color: var(--light-color);
    transition: background-color var(--transition-value), color var(--transition-value);
}

body.dark table caption {
    background-color: var(--dark-add-background-color);
    color: var(--dark-color);
}

thead {
    background-color: var(--light-add-color);
    color: var(--light-add-background-color);
    transition: background-color var(--transition-value), color var(--transition-value);
}

body.dark thead {
    background-color: var(--dark-add-color);
    color: var(--dark-add-background-color);
}

th, td {
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    border: 1px solid #333;
    border-collapse: collapse;
    transition: background-color var(--transition-value), color var(--transition-value), border-color var(--transition-value);
}

body.dark th, body.dark td {
    border-color: #ccc;
}

tbody tr:nth-child(even) {
    background-color: var(--light-background-color);
}

tbody tr:nth-child(odd) {
    background-color: var(--light-add-background-color);
}

body.dark tbody tr:nth-child(even) {
    background-color: var(--dark-background-color);
}

body.dark tbody tr:nth-child(odd) {
    background-color: var(--dark-add-background-color);
}

