{% extends 'base.html' %}


{% block title %}
Equipment
{% endblock %}


{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}/css/equipment.css">
<link rel="stylesheet" type="text/css" href="{{ static_url }}/css/nearest_poles_table.css">
{% endblock %}

{% block body %}    
<form id="rhu-form" method="POST" action="{{ prefix }}/equipment" onsubmit="return validateRequiredFields()">
    <section id="rhu">
        <div class="left-part">
            <div class="field-container">
                {% if two_counters %}
                    <div class="field-group">
                        <label for="counter-number-1">Первый счётчик:</label>
                        <input type="text" id="counter-number-1" name="counter_number_1" value="{{ counter_number_1 }}" readonly>
                    </div>
                    <div class="field-group">
                        <label for="counter-number-2">Второй счётчик:</label>
                        <input type="text" id="counter-number-2" name="counter_number_2" value="{{ counter_number_2 }}" readonly>
                    </div>
                {% else %}
                    <div class="field-group">
                        <label for="counter-number-1">Номер счётчика:</label>
                        <input type="text" id="counter-number-1" name="counter_number_1" value="{{ counter_number_1 }}" readonly>
                    </div>
                {% endif %}
                <div class="field-group">
                    <label for="controller-number">Номер контроллера:</label>
                    <input type="text" id="controller-number" name="controller_number" value="{{ controller_number }}" oninput="validateForm()" maxlength="20">
                </div>
            </div>
            <div class="field-container">
                <div class="field-group">
                    <label for="db-pole-number">Шифр опоры в БД:</label>
                    <input type="text" id="db-pole-number" name="db_pole_number" value="{{ db_pole_number }}" readonly>
                </div>
                {% if not data_problem and (controller_number or cabinet_number) %}
                    <div class="field-group">
                        <label for="new-modem-pole">Новый шифр опоры:</label>
                        <input type="text" id="new-modem-pole" name="new_modem_pole" value="{{ new_modem_pole or '' }}" onchange="toggleInputs(this)" maxlength="20">
                    </div>
                {% endif %}
            </div>
            {% if (cabinet_number or controller_number) and not data_problem and not (gps_problem) %}
                <table>
                    <caption>Ближайшие опоры:</caption>
                    <thead>
                        <tr>
                            <th>Шифр опоры</th>
                            <th>Расстояние, м</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in nearest_poles_data %}
                            <tr>
                                <td data-label="Шифр опоры">{{ row[0] }}</td>
                                <td data-label="Расстояние, м">{{ row[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="right-part">
            <div class="field-group">
                <label for="cabinet-number">Номер шкафа:</label>
                <input type="text" id="cabinet-number" name="cabinet_number" value="{{ cabinet_number }}" oninput="validateForm()" maxlength="20">
            </div>
            <div class="status">
                {% if not cabinet_number and not controller_number %}
                    <p class="data-error">Введите номер шкафа и/или номер контроллера</p>
                {% elif data_problem %}
                    <p class="data-error">{{ equipment_status }}</p>
                {% else %}
                    <p>
                        <span>Статус:</span>
                        <span class="{% if bad_status %}status-bad{% else %}status-good{% endif %}">
                            {{ equipment_status }}
                        </span>
                    </p>
                {% endif %}
                {% if not data_problem and (controller_number or cabinet_number) %}
                    <p>
                        <span>GPS:</span>
                        <span class="{% if gps_problem or bad_status %}status-bad{% else %}status-good{% endif %}">
                            {% if gps_problem or bad_status %}
                                UNDEFINED
                            {% else %}
                                OK
                            {% endif %}
                        </span>
                    </p>
                {% endif %}
            </div>
            <div class="submit-section">
                <button type="button" id="refresh-button" title="Сбросить" onclick="location.href='{{ prefix }}/equipment'">
                    <i class='bx bx-refresh'></i>
                </button>
                <button type="submit" id="submit-button">Отправить</button>
            </div>
        </div>
    </section>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="{{ static_url }}/js/send_equipment_form.js" defer></script>
{% if pole_updated_message %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const isGoodNotification = {{ 'true' if good_notification else 'false' }};
            showNotification({{ pole_updated_message|tojson }}, isGoodNotification);
        });
    </script>
{% endif %}
{% endblock %}