{% extends 'base.html' %}


{% block title %}
Equipment
{% endblock %}


{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}/css/rhu.css">
{% endblock %}

{% block body %}    
<form id="rhu-form" method="POST" action="{{ prefix }}/equipment">
    <section id="rhu">
        <div class="left-part">
            <div class="field-container">
                <div class="field-group">
                    <label for="meter-number">Номер счётчика:</label>
                    <input type="text" id="meter-number" name="counter-number" value="12345" readonly>
                </div>
                <div class="field-group">
                    <label for="controller-number">Номер контроллера:</label>
                    <input type="text" id="controller-number" name="controller-number" oninput="validateForm()">
                </div>
            </div>
            <div class="field-group">
                <label for="support-code">Шифр опоры:</label>
                <input type="text" id="support-code" name="support-code" value="18765-11" onchange="toggleInputs(this)">
            </div>
        </div>
        <div class="right-part">
            <div class="field-group">
                <label for="cabinet-number">Номер шкафа:</label>
                <input type="text" id="cabinet-number" name="cabinet-number" oninput="validateForm()">
            </div>
            <div class="status">
                <p>Статус: Работает</p>
            </div>
            <div class="submit-section">
                <button type="submit" id="submit-button" disabled>Отправить</button>
            </div>
        </div>
    </section>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="{{ static_url }}/js/send_equipment_form.js" defer></script>
{% endblock %}