{% extends 'base.html' %}


{% block title %}
Equipment
{% endblock %}


{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}/css/equipment.css">
{% endblock %}

{% block body %}    
<form id="rhu-form" method="POST" action="{{ prefix }}/equipment" onsubmit="return validateRequiredFields()">
    <section id="rhu">
        <div class="left-part">
            <div class="field-container">
                <div class="field-group">
                    <label for="counter-number">Номер счётчика:</label>
                    <input type="text" id="counter-number" name="counter-number" value="{{ counter-number }}" readonly>
                </div>
                <div class="field-group">
                    <label for="controller-number">Номер контроллера:</label>
                    <input type="text" id="controller-number" name="controller-number" value="{{ controller-number }}" oninput="validateForm()">
                </div>
            </div>
            <div class="field-group">
                <label for="pole-number">Шифр опоры:</label>
                <input type="text" id="pole-number" name="pole-number" value="{{ pole-number }}" onchange="toggleInputs(this)">
            </div>
        </div>
        <div class="right-part">
            <div class="field-group">
                <label for="cabinet-number">Номер шкафа:</label>
                <input type="text" id="cabinet-number" name="cabinet-number" value="{{ cabinet-number }}" oninput="validateForm()">
            </div>
            <div class="status">
                <p>Статус: Работает</p>
            </div>
            <div class="submit-section">
                <button type="submit" id="submit-button">Отправить</button>
            </div>
        </div>
    </section>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="{{ static_url }}/js/send_equipment_form.js" defer></script>
{% endblock %}